.layout>#post{
    background: rgba(255,255,255,.8);
}
#aside-content>.sticky_layout>.card-widget{
    background: rgba(255,255,255,.8);
}
/*侧边栏页面*/
#aside-content>.card-widget  {
    background: rgba(255,255,255,0.8);
}
:root {
    --card-bg: rgba(255, 255, 255, 0.8);
}
[data-theme=dark] #aside-content>.card-widget  {
    background: rgba(22, 18, 18, 0.8);
}
[data-theme=dark] #aside-content>.sticky_layout>.card-widget{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] .layout>#post{
    background: rgba(25,25,25,.8);
}
[data-theme=dark] {
    --card-bg: rgba(25, 25, 25, 0.8);
}